.button {
  background-color: var(--button-bg-color);
  height: 54px;
  width: 100%;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--button-text-color);
  cursor: pointer;
  border-radius: 4px;

  &-loading {
    
  }
}

.button-2 {
  background-color: var(--button2-bg-color);
  color: var(--button2-text-color);
}

.button:disabled {
  background: hsla(0, 0%, 88%, 1);
  cursor: auto;
}
