{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "@typescript-eslint",
    "import",
    "prettier",
    "unused-imports",
    "simple-import-sort"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "rules": {
    "react/require-default-props": "off",
    "prefer-destructuring": "off",
    "react/button-has-type": "off",
    "no-underscore-dangle": "off",
    "prettier/prettier": "error",
    "dot-notation": "off",
    "no-param-reassign": "off",
    "no-shadow": "off",
    "no-use-before-define": "off",
    "unused-imports/no-unused-imports-ts": "error",
    "sort-imports": "off",
    "import/order": "off",
    "import/no-duplicates": "off",
    "simple-import-sort/sort": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/camelcase": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "never"
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".tsx",
          ".jsx"
        ]
      }
    ],
    "no-undef": "off",
    "@typescript-eslint/explicit-function-return-type": [
      "error",
      {
        "allowExpressions": true
      }
    ],
    "max-len": [
      "error",
      120
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
