.main-box {
  grid-template-columns: 32fr 36fr 32fr;
  align-items: center;
  justify-items: center;
  height: 119px !important; /* important is temporary */
  padding-bottom: 20px;
}

.first-item {
  grid-column: 2/3;
}

.second-item {
  width: 43.1% !important; /* important is temporary */
  height: 45.4% !important; /* important is temporary */
  justify-self: end;
  margin-right: 16.6%;
}
