.session-wrapper {

}

.heading {
  background-color: black;
  display: flex;
  padding: 0 80px;
  justify-content: space-between;

  &__text {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 56px;
    line-height: 60px;
  }
}

.button {
  background: #F6B317;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  padding: 14px 40px;

}
