.container {
  border-bottom: #323338;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
}

.nav-items {
  display: flex;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 80px;

  &__link {
    text-decoration: none;
  }
}
